#map {
    display: flex;
    height: 90vh;
    width: 100%;
}
div {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
body {
    background-color: grey;
}
button {
    margin: 0 5px;
    padding: 5px;
}
label {
    color: white;
}
